.popup__input-error {
  display: block;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #ff0000;
  margin: 5px 36px 10px;
  opacity: 0;
  min-height: 15px;
}
.popup__input-error:last-of-type {
  margin-bottom: 12px;
}
.popup__input-error_active {
  opacity: 1;
}
.popup__set {
  padding: 0;
  border: none;
}
.popup__submit-button_inactive {
  background-color: #ffffff;
  color: black;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  cursor: default;
  border: 1px solid #000000;
  opacity: 0.3;
}
@media screen and (max-width: 720px) {
  .popup__input-error {
    width: 238px;

    margin-left: 22px;
    margin-right: 22px;
  }
}
