.page {
  margin: 0 auto;
  font-family: "Inter", Arial, sans-serif;
  color: #fff;
  max-width: 1280px;
}
.root {
  display: flex;
  background-color: #000;
  margin-left: auto;
  margin-right: auto;
}
.root_section {
  width: 880px;
}
.header {
  display: flex;
  margin-top: 45px;
  align-self: start;
  align-items: flex-start;
  height: 74px;
  border-bottom: 1px solid #545454;
  margin-bottom: 40px;
}
.header__logo {
  height: 33px;
  width: 142px;
}
.profile {
  display: flex;
  height: 120px;
  position: relative;
  align-items: center;
  margin-bottom: 50px;
}
.profile__avatar {
  height: 120px;
  width: 120px;
  margin-right: 30px;
}
.profile__info {
  display: grid;
  width: 336px;
  grid-template-columns: 1fr 24px;
  gap: 16px 18px;
}
.profile__button {
  height: 24px;
  width: 24px;
  align-self: end;
  padding-bottom: 8px;
  background-image: url(images/editbutton.svg);
  border: none;
  outline: none;
  background-color: transparent;
}
.profile__button:hover {
  opacity: 0.6;
  cursor: pointer;
}
.profile__title {
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  margin: 0;
  width: fit-content;
  align-self: end;
}
.profile__subtitle {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  margin-top: 0;
  margin-bottom: 0;
}
.profile__add-button {
  display: flex;
  position: absolute;
  height: 50px;
  width: 150px;
  border: 2px solid #fff;
  align-self: center;
  right: 0;
  align-items: center;
  justify-content: center;
}
.profile__add-button:hover {
  opacity: 0.6;
  cursor: pointer;
}
.profile__vector {
  display: flex;
  height: 22px;
  width: 22px;
  justify-content: center;
  align-items: center;
}
.elements {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px 17px;
  margin-bottom: 66px;
}
.element {
  background-color: #fff;
  border-radius: 10px;
  max-width: 282px;
  height: 362px;
}
.element__image {
  width: 282px;
  height: 282px;
  border-radius: 10px 10px 0 0;
  background-size: cover;
}
.element__bottom {
  display: flex;
  background-color: #fff;
  justify-content: space-between;
  height: 79px;
  border-radius: 0 0 10px 10px;
  align-items: center;
  width: 282px;
}

.element__title {
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: #000;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 21px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 195px;
}
.element__like {
  margin-right: 30px;
  margin-left: 10px;
  height: 19px;
  width: 22px;
  background-image: url(images/like.svg);
  border: none;
  outline: none;
  background-color: transparent;
}
.element__like:hover {
  opacity: 0.5;
}
.element__like_active {
  margin-right: 30px;
  margin-left: 10px;
  height: 19px;
  width: 22px;
  background-image: url(images/activeLike.svg);
  background-size: cover;
  border: none;
  outline: none;
  background-color: transparent;
}
.footer {
  margin-bottom: 60px;
}
.footer__logo {
  height: 18px;
  margin: 0;
}
.popup {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.disabled {
  display: none;
}
.popup__opacity {
  position: fixed;
  background-color: #000;
  opacity: 0.5;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.popup__container {
  position: relative;
  height: 330px;
  width: 430px;
  color: #000;
  background-color: #fff;
  align-self: center;
  margin-left: auto;
  margin-right: auto;
  opacity: 1;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  z-index: 2;
}
.popup__close-icon {
  transform: rotate(-45deg);
  background-image: url(images/plus.svg);
  background-size: contain;
  position: absolute;
  top: -40px;
  right: -40px;
  height: 40px;
  width: 40px;
  border: none;
  outline: none;
  background-color: rgba(0, 0, 0, 0.01);
}
.popup__close-icon:hover {
  opacity: 0.6;
  cursor: pointer;
}
.popup__title {
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  margin-top: 34px;
  margin-left: 36px;
  margin-bottom: 54px;
}
.popup__text {
  font-family: "Inter", Arial, sans-serif;
  margin-left: 36px;
  border: none;
  height: 27px;
  margin-bottom: 30px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  width: 358px;
  margin-left: 36px;
  margin-right: 36px;
  background-color: none;
  border-bottom: 1px solid rgba(255, 0, 0, 0.2);
}
.popup__text:last-of-type {
  margin-bottom: 46px;
}
.popup__text:focus {
  outline: none;
}
.popup__submit-button {
  width: 358px;
  height: 50px;
  background-color: #000;
  color: #fff;
  margin: 0 36px 36px;
  text-align: center;
  border-radius: 2px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  border: none;
  outline: none;
}
.popup__submit-button:hover {
  opacity: 0.8;
}
@media screen and (max-width: 1000px) {
  .root_section {
    width: 660px;
  }
  .elements {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  .element {
    justify-self: center;
  }
}
@media screen and (max-width: 720px) {
  .root_section {
    width: 320px;
  }
  .header__logo {
    margin-left: 27px;
  }
  .profile {
    flex-direction: column;
    width: 282px;
    height: 286px;
    justify-self: center;
    margin-left: auto;
    margin-right: auto;
  }
  .profile__avatar {
    margin: 0 0 26px 0;
  }
  .profile__info {
    display: flex;
    width: 282px;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 36px;
    position: relative;
    height: 54px;
  }
  .profile__title {
    font-style: normal;
    font-weight: 500;
    font-size: 27px;
    line-height: 33px;
    text-align: center;
    width: 282px;
    text-align: center;
  }
  .profile__subtitle {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
  }
  .profile__button {
    height: 18px;
    width: 18px;
    justify-self: end;
    padding-bottom: 8px;
    position: absolute;
    right: 20px;
    top: 3px;
    padding: 0;
  }

  .profile__add-button {
    position: relative;
    width: 282px;
  }
  .elements {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
  }
  .popup__container {
    width: 282px;
    height: 322px;
  }
  .popup__text {
    width: 238px;
    height: 27px;
    margin-left: 22px;
    margin-right: 22px;
  }
  .popup__title {
    font-weight: 900;
    font-size: 18px;
    line-height: 22px;
    margin: 25px 22px 75px;
  }
  .popup__submit-button {
    width: 238px;
    height: 32px;
    margin-right: auto;
    margin-left: 22px;
    font-size: 14px;
    line-height: 17px;
  }
  .popup__close-icon {
    right: 0;
    height: 26px;
    width: 26px;
  }
}
