.element__photo-popup {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 2;
}
.element__photo-popup:target {
  visibility: visible;
  opacity: 1;
}
